@use 'variables' as vars;

.pageHeader {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .githubLogo {
        margin-left: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.deploymentsWrapper {
    >:not(:last-child) {
        border-bottom: 1px solid vars.$gray-200;
    }
}

.projectDescription {
    margin: 2rem 0;
}

.projectMetadata {
    margin-bottom: 2rem;
}

.contributor {
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    a {
        width: 100%;
        text-decoration: none;
        color: inherit;
        span {
            margin-left: 0.5rem;
        }
    }
    img {
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background-color: vars.$gray-400;
        padding: 1px;
    }
    &:hover {
        cursor: pointer;
        transition: 0.2s ease;
        box-shadow: 0 0 4px 4px vars.$indigo-100;
    }
}

.metadataItem {
    margin-bottom: 1rem;
}

.languagesBar {
    
}

.projectReadme {
    .readmeContent {
        border: 1px solid vars.$gray-200;
        border-radius: 8px;
        padding: 1rem;
        background-color: vars.$gray-100;
    }
}

.sectionHeading {
    text-align: center;
    margin-bottom: 1rem;
    h2 {
        text-align: center;
    }
    span {
        color: vars.$gray-400;
        font-weight: 200;
    }
}
