@use 'variables' as vars;

.customCarousel {
    overflow: hidden;
    .controls {
        display: flex;
        justify-content: space-between;
        .pageIndicators {
            padding: 0;
            list-style: none;
            list-style-position: inside;
            display: inline-flex;
            li {
                color: vars.$gray-400;
                transition: 0.3s ease;
                &:hover {
                    cursor: pointer;
                }
            }
            .activeIndicator {
                font-weight: 900;
                color: vars.$indigo-600;
            }
            :not(:last-child) {
                margin-right: 1rem;
            }
        }
        button {
            border: none;
            background-color: inherit;
            color: vars.$gray-400;
            border-radius: 100%;
            transition: 0.3s ease;
            &:hover {
                transition: 0.3s ease;
                color: vars.$indigo-600;
            }
        }
    }
}

.customCarouselInner {
    white-space: nowrap;
    transition: transform 0.5s;
}

.slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$gray-100;
    color: white;
    height: 400px;
    width: 100%;
    // These styles only apply when an image is an immediate child in the slide - more-dynamic content should be unaffected
    >img {
        max-height: 400px;
        max-width: 100%;
    }
}
