
.customCarousel {
    width: 100%;
}

.customCarouselInner {
    // height: 500px;
    
    :global(.carousel-inner) {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        margin: auto !important;
    }
    img {
        height: 400px;
    }
}

