# File types to exclude from linting (attempting to lint them will cause errors or other unexpected issues)
*/**/*.json
*/**/*.lock
*/**/*.md
*/**/*.jpg
*/**/*.jpeg
*/**/*.png
*/**/*.scss
*/**/*.svg
*/**/*.log
*/**/*.ico
*/**/*.js

*/**/dist/*
*/**/*.config.ts

next/cypress/screenshots
next/cypress/videos

# Always exclude node_modules (everywhere) from linting; it's pointless since it's not your code
*/**/node_modules/*

# exclude generated types
graphql-types.ts
