@use 'variables' as vars;

.languageChartWrapper {
    width: 100%;
    @media  screen and (max-width: vars.$laptop) {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    @media screen and (min-width: vars.$laptop) {
        display: inline-flex;
    }
    .languageChart {
        flex: 1;
    }
}

.languagesList {
    margin: 0;
    padding: 0;
    width: 100%;
    >:not(:last-child) {
        border-bottom: 1px solid vars.$gray-200;
    }
    .languageListItem {
        list-style-position: inside;
        font-size: 22px;
        .languageKey {
            color: vars.$gray-800;
            font-size: 18px;
            color: vars.$gray-800;
        }
        .languagePercentage {
            font-size: 14px;
            color: vars.$gray-400;
            float: right;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.noticeText {
    display: flex;
    justify-content: center;
    color: vars.$gray-400;
    font-weight: 200;
    width: 100%;
    font-style: italic;
}
