@use 'src/sass/util/base' as base;

.employerRow {
    display: inline-flex;
    vertical-align: middle;
    margin: 1rem 0 1rem 0;
    h3 {
        margin: 0 0 0 0.5rem; 
    }
}

.container {
    margin: auto;
    @media (min-width: base.$mobileS) {
        width: 90%;
    }
    @media (min-width: base.$tablet) {
        width: 100%;
    }
}

.employmentHistoryList {
    list-style-type: none !important;
    border-color: base.$gray-200;
    margin-top: 2rem;
    margin-bottom: 2rem;
    li {
        padding-bottom: 1rem;
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
            }
        }
    }
    :last-child {
        padding-bottom: 0;
    }
}

.employerIcon {
    width: 2rem;
    height: 2rem;
}

.jobTitleContainer {
    @media (min-width: base.$mobileS) {
        margin-left: 1rem;
    }
    @media (min-width: base.$tablet) {
        margin-left: 4rem;
    }
    span {
        display: inline-flex;
        width: 100%;
        align-items: center;
        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 1rem;
            font-style: italic;
            color: base.$gray-400;
        }
    }
}

.responsibilitiesList {
    border-left: solid 3px;
    border-color: base.$gray-200;
    padding: 0px !important;
    margin-left: 1rem;
    li {
        margin: 1rem 0 1rem 0;
        list-style-type: none;
    }
}
