@use 'variables' as vars;

.blogFeed {
    margin-top: 2rem;
    :not(:last-child) {
        margin-bottom: 1rem;
    }
}

.categoriesWrapper {
    width: 100%;
    margin-top: 1rem;
}

.categoriesFilters {
    margin-left: 0;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
}
