@use 'variables' as vars;

.blog-controls {
    display: flex;
    .categories-filter {
        padding-left: 0 !important;
        display: flex;
        >:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
