@use 'variables' as vars;

.tech-stack {
    padding: 0.5rem 2rem 2rem 2rem;
    border: none !important;
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin: 0;
            padding: 0;
        }
    }
}
