@use 'variables' as vars;

.creator-bio {
    display: inline-flex;
    .creator-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        .creator-name {
            margin-bottom: 1rem;
            @media (min-width: vars.$mobileS) {
                font-size: 32px;
            }
            @media (min-width: vars.$tablet) {
                font-size: 48px;
            }
        }
        .creator-socials {
            bottom: 0;
            margin-top: auto;
            display: inline-flex;
            >:not(:last-child) {
                margin-right: 1rem;
            }
            >:hover {
                cursor: pointer;
            }
        }
    }
}

.work-history {
    padding: 0 2rem 0 2rem;
    width: 100%;
    .section-title {
        display: flex;
        justify-content: center;
    }
}

.contact {
    width: 100%;
    .section-title {
        display: flex;
        justify-content: center;
    }
}
