@use 'headings';
@use 'bootstrap';
@use 'general';
@use 'page_about';
@use 'page_template_article';
@use 'variables' as vars;

.highlighted-text {
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: vars.$highlight;
}

// * * * * * * * * * * * * * * * * * * * * * * *
// Custom control styles
// * * * * * * * * * * * * * * * * * * * * * * *
.control-labeled-right {
    display: flex;
    align-items: baseline;
    input {
        margin-right: 0.5rem;
    }
}

.control-labeled-left {
    display: flex;
    align-items: baseline;
    input {
        margin-left: 0.5rem;
    }
}
// End custom control styles

// * * * * * * * * * * * * * * * * * * * * * * *
// Blog feed styles
// ----------------
// Note that these styles are mainly
// only for the blog feed itself -
// the individual items within it
// are styled within FeedItem.module.scss
// * * * * * * * * * * * * * * * * * * * * * * *
.blog-feed {
    >:not(:last-child) {
        margin-bottom: 1rem;
    }
}

// End blog feed styles
