@use 'variables' as vars;

.submitted {
    
}

.contactForm {
    :not(:last-child) {
        margin-bottom: 1rem;
    }
    .inlineInput {
        display: flex;
        align-items: center;
        span {
            margin-right: 1rem;
            margin-top: auto;
            margin-bottom: auto;
        }
        input {
            flex: 1;
        }
    }
    .textArea {
        textarea {
            width: 100%;
            height: 300px;
        }
    }
}

.controls {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button {
        font-size: 22px;
    }
}
