@use 'variables' as vars;

.container {
    bottom: 0;
    margin-top: auto;
    display: inline-flex;
    >:not(:last-child) {
        margin-right: 1rem;
    }
    >:hover {
        cursor: pointer;
    }
}
