@use 'variables' as vars;

.seriesTitle {
    border: 1px solid vars.$orange-100 !important;
    color: vars.$orange-100;
    border-radius: 4px;
    display: flex;
    margin: auto;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    i {
        margin-left: 0.5rem;
    }
    @media screen and (max-width: vars.$laptop) {
        display: none;
    }
}

.publishAndAuthor {
    flex: 1;
}

.publishDataAndSeries {
    width: 100%;
    display: inline-flex;
}

.outlineButton {
    position: fixed;
    display: flex;
    margin: auto;
    bottom: 3rem;
    right: 3rem;
    background-color: vars.$gray-800;
    border-radius: 50%;
    padding: 0.75rem;
    opacity: 30%;
    transition: 0.2s ease opacity;
    border: none;
    svg {
        color: white;
    }
    &:hover {
        opacity: 100%;
        transition: 0.2s ease opacity;
        cursor: pointer;
    }
}

.articleBodyWrapper {
    p {
        margin: 2rem 0;
    }
}