@use 'src/base' as base;

.container {
    margin-bottom: 1rem;
    padding: 1rem;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: base.$gray-200;
}

.headerRow {
    display: inline-flex;
    align-items: center;
    h2 {
        padding: 0;
        margin: 0;
    }
    a {
        margin-right: 1rem;
        background: none;
        padding: 0.25rem;
        border-radius: 2px;
        &:hover {
            background: #DFDFDF;
        }
    }
}

.integrationImage {
    height: 1.5rem;
}
