@use 'variables' as vars;

.sectionContainer {
    transition: 0.2s ease;
    border-radius: 6px;
    border: 1px solid vars.$gray-300;
    margin-bottom: 1em;
    .sectionContentWrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: vars.$gray-600;
        svg {
            margin-right: 1rem;
            color: vars.$indigo-500;
            @media (min-width: vars.$mobileS) {
                display: none;
            }
            @media (min-width: vars.$tablet) {
                display: inherit;
            }
        }
        .sectionTitle {
            font-weight: 800;
        }
        .sectionDescription {
            font-weight: 300;
        }
    }
    &:hover {
        cursor: pointer;
        transition: 0.2s ease;
        box-shadow: 0 0 4px 4px vars.$indigo-100;
    }
    @media (min-width: vars.$mobileS) {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    @media (min-width: vars.$tablet) {
        padding: 1rem;
    }
}
