
.container {
    display: inline-flex;

    >:not(:last-child) {
        margin-right: 2rem;
    }
}

.header {
    display: flex;
    flex-direction: column;

    >:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.permissionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .permissionName {
        margin-top: .5rem;
        font-size: 14px;
        text-align: center;
    }
}
