@use 'src/base' as base;

.category {
    background-color: base.$indigo-100;
    color: base.$indigo-500;
    display: inline;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 20px;
}

.list {
    padding-left: 0 !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    :first-child {
        margin-left: 0;
    }
}
