@use 'src/base' as base;

.container {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    font-size: 0.75rem;
}

.active {
    color: base.$indigo-500;
    background-color: base.$indigo-100;
    &:hover {
        background-color: base.$indigo-300;
    }
}

.inactive {
    color: base.$gray-700;
    background-color: base.$gray-100;
    &:hover {
        background-color: base.$gray-300;
    }
}
