@use 'variables' as vars;

.container {
    border: 1px solid vars.$gray-100;
    border-radius: 6px;
    transition: 0.3s ease;
    p {
        padding: 0;
        margin: 0;
        font-weight: 300;
        color: vars.$indigo-500;
    }
    a {
        text-decoration: none;
        >div {
            padding: 1rem;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: vars.$gray-50;
        transition: 0.3s ease;
    }
}
