@mixin ease-transition-border-and-glow(
    $border-color: transparent,
    $glow-color: transparent,
    $glow-range: 0px,
) {
    transition: 0.1s ease;
    &:hover {
        border-color: $border-color !important;
        box-shadow: 0px 0px $glow-range $glow-range $glow-color !important;
        transition: 0.1s ease;
    }
}
