
// Colors
$indigo-100: #E0E7FF;
$indigo-200: #C7D2FE;
$indigo-300: #A5B4FC;
$indigo-400: #818CF8;
$indigo-500: #6366F1;
$indigo-600: #4F46E5;
$indigo-700: #4338CA;
$indigo-800: #3730A3;
$indigo-900: #312E81;

$gray-50: #f3f4fa;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$highlight: rgba(253, 230, 138, 1);

// Screen widths
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

// Colors from react-bootstrap
// These colors were pulled from react-bootstrap by either reading their docs, or simply inspecting the DOM
$card-border: rgba(0,0,0,.125);
