@use 'src/sass/util/base' as base;

.container {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 16rem;
    width: 16rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0.75rem;
    justify-content: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    background-color: base.$gray-900;
}

.hovered {
    transition: 0.3s ease;
    background-color: base.$gray-800;
}

.icon {
    color: white;
}

.tileContent {
    text-align: center;
}

.tileLabel {
    margin-top: 1rem;
    color: white !important;
}
