@use 'src/sass/util/base' as base;

.container {
    top: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.25rem;
    position: sticky;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 10;
    @include base.hoverTransition($bg: base.$gray-800, $bg-hovered: base.$gray-600);
}

.label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // Not sure why, but needs to be !important, otherwise color doesn't consistently apply
    color: white !important;
    h3 {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-style: italic;
        font-weight: 200;
        display: inline-block;
        color: currentColor;
    }
    div {
        margin-left: 0.5rem;
        display: inline-block;
        stroke: currentColor;
    }
}