@use 'variables' as vars;

.container {
    >::before {
        height: 4rem;
        content: "";
        display:block;
    }
    display: flex;
    div {
        margin-left: 0.5em;
        color: vars.$gray-300;
        transition: 0.3s ease;
        :hover {
            cursor: pointer;
            color: vars.$gray-500;
            transition: 0.3s ease;
        }
    }
}
