@use 'variables' as vars;

.container {
    display: flex;
    margin: 3em 0 0.5em 0;
    div {
        margin-left: 0.5em;
        color: vars.$gray-300;
        transition: 0.3s ease;
        :hover {
            cursor: pointer;
            color: vars.$gray-500;
            transition: 0.3s ease;
        }
    }
}
