@use 'variables' as vars;

.siteContent {
    
}

.heroImageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: vars.$gray-100;
    @media (min-width: vars.$mobileS) {
        height: auto;
    }
    @media (min-width: vars.$tablet) {
        height: 500px;
    }
}

.heroImage {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.heroImageOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    h1 {
        color: vars.$gray-300;
        padding: 0;
        margin: 0;
        font-size: 5rem;
    }
}
