@use 'variables' as vars;

.container {
    
}

.titleRow {
    text-align: center;
    transition: 0.3s ease;
    background-color: vars.$gray-50;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &:hover {
        transition: 0.3s ease;
        background-color: vars.$indigo-100;
    }
}

.description {
    padding: 1rem 2rem 1rem 2rem;
}


.cardBody {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    max-height: 1000px;
    transition: 0.5s ease;
    overflow-y: scroll;
}
.closed {
    transition: 0.5s ease;
    max-height: 0;
    visibility: hidden;
}

.cardFooter {
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    color: vars.$gray-400;
}
