@use 'variables' as vars;

.container {
    position: relative;
    height: 256px;
    width: 256px;
    margin-right: 2rem;
    img {
        object-fit: cover;
        border-radius: 8px;
    }
    @media (min-width: vars.$mobileS) {
        display: none;
    }
    @media (min-width: vars.$tablet) {
        display: inherit;
    }
}
