@use 'src/sass/util/base' as base;

.navContainer {
    top: 0px;
    height: auto;
    background-color: base.$gray-800;
    position: sticky;
    width: 100%;
    z-index: 40;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
}

.menuButton {
    margin-left: 0.5rem;
    border-radius: 3px;
    z-index: 45;
    color: white;
    &:hover {
        background-color: base.$gray-900;
    }
}

.appIcon {
    margin-left: auto;
    margin-right: .5rem;
    right: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.sidebarBackgroundOverlay {
    background-color: #000000;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
}

.inactive {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.active {
    opacity: 0.5;
    visibility: visible;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}
