@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
    @apply mt-10;
    @apply mb-4;
}
ul, ol {
    @apply ml-2;
    @apply pl-8;
}
li span {
    @apply ml-2;
}
ul {
    @apply list-disc;
}
ul ul {
    list-style-type: circle;
}
ul ul ul {
    list-style-type: square;
}
ol {
    @apply list-decimal;
}
ol ol {
    list-style-type: lower-roman;
}
li {
    @apply my-1;
}

.layout {
    @apply container;
    @apply mx-auto;
    @apply h-full;
}

.nav {
    @apply sticky;
    @apply bg-gray-800;
    @apply top-0;
    @apply h-12;
    @apply w-full;
    @apply z-20;
    @apply shadow;
    @apply text-lg;
    @apply flex items-center;
}

.nav ul {
    @apply ml-6;
}

.nav a {
    @apply text-center;
    @apply no-underline;
    @apply font-light;
    @apply text-white hover:text-purple-400;
}

.nav li {
    @apply mx-2 my-2;
    @apply inline-block;
}

.nav-search-icon {
    @apply ml-auto my-2 mr-2;
    @apply stroke-current text-white hover:text-purple-400;
}

.hero-image-container {
    @apply relative flex justify-center;
}
.hero-image {
    @apply block;
    @apply ml-auto;
    @apply mr-auto;
    @apply h-96;
}
.hero-image-text {
    @apply text-center;
    @apply text-white text-7xl;
    @apply mt-12 mb-6;
}
.hero-image-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-75;
    @apply text-gray-300 text-3xl;
    @apply w-full h-full;
}

.home-header {
    @apply h-full;
    @apply w-full;
}

.home-banner-list {
    @apply mx-auto;
    @apply space-y-6;
}
.home-tile {
    @apply relative;
    @apply flex justify-center;
}
.home-tile-image {
    @apply w-3/4 h-32;
    @apply block;
}
.home-tile-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-75 hover:bg-opacity-50;
    @apply w-3/4 h-32;
    @apply text-gray-300 text-3xl;
}

.home-greeting {
    @apply w-9/12;
    @apply text-lg;
    @apply text-justify;
    @apply mx-auto my-8;
}

.not-found-image-container {
    @apply relative flex justify-center;
}
.not-found-image {
    @apply h-auto w-screen;
}
.not-found-image-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-25;
    @apply text-gray-300 text-3xl;
    @apply w-full h-full;
}

h1 {
    @apply text-5xl;
    @apply font-sans;
    @apply text-gray-700;
}

.blog-feed {
    @apply text-justify;
    @apply mx-auto;
}
.article-row {
    @apply flex space-x-4;
    @apply h-auto;
    @apply bg-gray-100 rounded py-4 md:p-2 sm:p-0;
    @apply my-2 pr-4;
    /* @apply shadow; */
}
.article-row-thumbnail-container {
    @apply h-48 w-48 flex flex-wrap content-center;
    @apply hidden md:inline-block;
}
.article-row-thumbnail {
    @apply h-full w-full;
}
.article-row-details {
    @apply h-auto;
    @apply w-full;
    @apply inline-block;
}
.article-row-title-line {
    @apply w-full;
    @apply inline-block;
}
.article-row-title-line h3 {
    @apply font-extralight;
    @apply text-4xl;
    @apply text-purple-700;
}
.article-row-title-line p {
    @apply italic text-gray-600;
    @apply float-right;
}
.article-row-details blockquote {
    @apply align-middle;
    @apply text-gray-800 text-opacity-50;
    @apply my-4 ml-4;
}

.date-banner {
    @apply shadow rounded;
    @apply bg-gray-800;
    @apply my-4;
    @apply sticky top-12;
    @apply w-full;
    @apply block text-center;
}
.date-banner-text {
    @apply my-1;
    @apply text-white;
    @apply text-xl italic font-extralight;
    @apply inline-block;
}
.date-banner-text-active {
    @apply my-1;
    @apply text-purple-400;
    @apply text-xl italic font-extralight;
    @apply inline-block;
}
.date-banner-icon {
    @apply inline-block ml-2;
    @apply stroke-current text-white;
}
.date-banner-icon-active {
    @apply inline-block ml-2;
    @apply stroke-current text-purple-400;
}

.modal-overlay {
    @apply fixed w-screen h-screen;
    @apply bg-black bg-opacity-50;
    @apply z-30;
}
.modal {
    @apply fixed m-auto block p-2 rounded;
    @apply w-8/12 h-auto;
    @apply z-40;
    @apply bg-white;
}
.modal-filter-by-text-field {
    @apply text-center;
    @apply mb-2;
}
.modal-filter-title-line {
    @apply text-center;
}
.modal-footer {
    @apply w-3/4;
    @apply text-justify text-gray-400 italic;
    @apply mx-auto mb-4;
}

.category-grid {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4;
    @apply m-10;
}
.embedded-category-grid {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4;
    @apply mt-4;
}
.embedded-category-label {
    @apply border rounded-full py-1 px-2 border-purple-500 text-purple-500;
    @apply block align-middle text-center text-xs;
    @apply bg-purple-100;
}

.category-label {
    @apply border rounded-full py-3 px-6 border-purple-500 text-purple-500;
    @apply block align-middle text-center text-xs;
    @apply bg-purple-100;
}
.category-label-inactive {
    @apply border border-gray-500 hover:border-purple-500 rounded-full py-3 px-6;
    @apply block align-middle text-center text-xs text-gray-400 hover:text-purple-500;
    @apply hover:bg-purple-100;
}

.article {
    @apply mt-4 text-justify;
    @apply w-full md:w-3/4 mx-auto;
}

.article-detail {
    @apply mb-6;
}
.article-detail h1 {
    @apply text-5xl;
    @apply font-light;
}
.article-detail > p {
    @apply text-gray-500 italic;
}

.article-body {
    @apply text-lg leading-relaxed;
}
.article-body > div > p {
    @apply my-6;
}
.article-body h1 {
    @apply text-4xl;
}
.article-body h2 {
    @apply text-3xl;
}
.article-body a {
    @apply text-purple-500 hover:text-purple-800;
}
.article-body blockquote {
    @apply border-l-4 px-4 my-10 w-11/12 mx-auto;
    @apply border-gray-400;
    @apply bg-gray-100 text-gray-600 py-2;
    @apply italic;
}
.article-body code {
    @apply bg-gray-200;
    @apply p-0.5 rounded;
}
.article-body pre {
    @apply bg-gray-600 rounded;
}

.creator-details-banner {
    @apply mt-8;
    @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
    @apply bg-gray-200 p-6 rounded shadow z-10;
}
.creator-badge {
    @apply inline-block text-center;
}
.creator-image {
    @apply rounded-full h-80 w-80;
    @apply mb-8;
}
.employer-image {
    @apply h-16 w-40;
    @apply mt-4;
}
.employment-dates {
    @apply italic;
}
.creator-details {
    @apply sm:col-span-2;
}
.creator-details-footer {
    @apply mt-4;
    @apply flex space-x-2;
}

/* TODO: Refactor the CSS styles ABOVE this line - the stuff below should be in a better state (def not perfect, though)*/

/* Main */
main {
    @apply w-auto;
}

/* Sidebar */
.sidebar {
    @apply h-full;
    @apply w-80;
    @apply fixed;
    @apply z-10;
    @apply top-0 left-0;
    @apply overflow-clip overflow-hidden;
    @apply bg-gray-600;
    @apply transition ease-out;
}
.sidebar-menu-btn {
    @apply pl-2;
    @apply text-white hover:text-gray-300;
}
.sidebar-body {
    @apply pt-14;
    @apply w-full;
    @apply text-xl;
}
.sidebar-menu-option {
    @apply py-2 mb-2;
    @apply hover:bg-gray-800;
    @apply text-gray-300;
    @apply block;
}
.sidebar-menu-option-label {
    @apply pl-4;
    @apply hover:bg-gray-800;
    @apply inline-block;
    @apply align-middle;
}
.sidebar-menu-option-icon {
    @apply pl-6;
    @apply inline-block;
    @apply align-middle;
}

.sidebar-footer {
    @apply text-sm;
    @apply absolute;
    @apply left-1/2;
    @apply bottom-0;
    transform: translate(-50% , -50%);
}

/* 
    N.B.
    We are *supposed* to be able to define custom animations within the tailwind.config.js file. However, Gatsby doesn't seem to
    recognize the custom classes. It's possible there may be further configuration I need to add to fix this, or that there is
    simply a problem in the Gatsby process that prevents it from working with custom animations.
*/
@keyframes bounce-x {
    0%, 100% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        
    }
    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
}

.root-menu-item-icon-active {
    animation: bounce-x .75s infinite;
}

