@tailwind base;
@tailwind components;
@tailwind utilities;

/* To make VS code play nice with the @apply directive, install the PostCSS plugin (https://marketplace.visualstudio.com/items?itemName=csstools.postcss) */
.layout {
    @apply container;
    @apply mx-auto;
    @apply h-full;
}

.nav {
    @apply sticky;
    @apply bg-gray-800;
    @apply top-0;
    @apply h-12;
    @apply w-full;
    @apply z-20;
    @apply shadow;
    @apply text-lg;
    @apply flex items-center;
}

.nav ul {
    @apply ml-6;
}

.nav a {
    @apply text-center;
    @apply no-underline;
    @apply font-light;
    @apply text-white hover:text-purple-400;
}

.nav li {
    @apply mx-2;
    @apply inline-block;
}

.nav-search-icon {
    @apply ml-auto my-2 mr-2;
    @apply stroke-current text-white hover:text-purple-400;
}

.hero-image-container {
    @apply relative flex justify-center;
}
.hero-image {
    @apply block;
    @apply ml-auto;
    @apply mr-auto;
    @apply h-96;
}
.hero-image-text {
    @apply text-center;
    @apply text-white text-7xl;
    @apply mt-12 mb-6;
}
.hero-image-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-75;
    @apply text-gray-300 text-3xl;
    @apply w-full h-full;
}

.home-header {
    @apply h-full;
    @apply w-full;
}

.home-banner-list {
    @apply mx-auto;
    @apply space-y-6;
}
.home-tile {
    @apply relative;
    @apply flex justify-center;
}
.home-tile-image {
    @apply w-3/4 h-32;
    @apply block;
}
.home-tile-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-75 hover:bg-opacity-50;
    @apply w-3/4 h-32;
    @apply text-gray-300 text-3xl;
}

.home-greeting {
    @apply w-9/12;
    @apply text-lg;
    @apply text-justify;
    @apply mx-auto my-8;
}

.not-found-image-container {
    @apply relative flex justify-center;
}
.not-found-image {
    @apply h-auto w-screen;
}
.not-found-image-overlay {
    @apply absolute flex items-center justify-center;
    @apply bottom-0;
    @apply bg-black bg-opacity-25;
    @apply text-gray-300 text-3xl;
    @apply w-full h-full;
}

h1 {
    @apply text-5xl;
    @apply font-sans;
    @apply text-gray-700;
}

.blog-feed {
    @apply text-justify;
    @apply mx-auto;
}
.article-row {
    @apply flex space-x-4;
    @apply h-auto;
    @apply bg-gray-100 rounded py-4 md:p-2 sm:p-0;
    @apply my-2 pr-4;
    /* @apply shadow; */
}
.article-row-thumbnail-container {
    @apply h-48 w-48 flex flex-wrap content-center;
    @apply hidden md:inline-block;
}
.article-row-thumbnail {
    @apply h-full w-full;
}
.article-row-details {
    @apply h-auto;
    @apply w-full;
    @apply inline-block;
}
.article-row-title-line {
    @apply w-full;
    @apply inline-block;
}
.article-row-title-line h3 {
    @apply font-extralight;
    @apply text-4xl;
    @apply text-purple-700;
}
.article-row-title-line p {
    @apply italic text-gray-600;
    @apply float-right;
}
.article-row-details blockquote {
    @apply align-middle;
    @apply text-gray-800 text-opacity-50;
    @apply my-4 ml-4;
}

.date-banner {
    @apply shadow rounded;
    @apply bg-gray-800;
    @apply my-4;
    @apply sticky top-12;
    @apply z-10;
    @apply w-full;
    @apply block text-center;
}
.date-banner-text {
    @apply text-white;
    @apply text-xl italic font-extralight;
    @apply inline-block;
}
.date-banner-text-active {
    @apply text-purple-400;
    @apply text-xl italic font-extralight;
    @apply inline-block;
}
.date-banner-icon {
    @apply inline-block ml-2;
    @apply stroke-current text-white;
}
.date-banner-icon-active {
    @apply inline-block ml-2;
    @apply stroke-current text-purple-400;
}

.modal-overlay {
    @apply fixed w-screen h-screen;
    @apply bg-black bg-opacity-50;
    @apply z-30;
}
.modal {
    @apply fixed m-auto block p-2 rounded;
    @apply w-8/12 h-auto;
    @apply z-40;
    @apply bg-white;
}
.modal-filter-by-text-field {
    @apply text-center;
    @apply mb-2;
}
.modal-filter-title-line {
    @apply text-center;
}
.modal-footer {
    @apply w-3/4;
    @apply text-justify text-gray-400 italic;
    @apply mx-auto mb-4;
}

.category-grid {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4;
    @apply m-10;
}
.embedded-category-grid {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4;
    @apply mt-4;
}
.embedded-category-label {
    @apply border rounded-full py-1 px-2 border-purple-500 text-purple-500;
    @apply block align-middle text-center text-xs;
    @apply bg-purple-100;
}

.category-label {
    @apply border rounded-full py-3 px-6 border-purple-500 text-purple-500;
    @apply block align-middle text-center text-xs;
    @apply bg-purple-100;
}
.category-label-inactive {
    @apply border border-gray-500 hover:border-purple-500 rounded-full py-3 px-6;
    @apply block align-middle text-center text-xs text-gray-400 hover:text-purple-500;
    @apply hover:bg-purple-100;
}

.article {
    @apply mt-4 text-justify;
    @apply w-full md:w-3/4 mx-auto;
}

.article-detail {
    @apply mb-6;
}
.article-detail h1 {
    @apply text-5xl;
    @apply font-light;
}
.article-detail > p {
    @apply text-gray-500 italic;
}

.article-body {
    @apply text-lg leading-relaxed;
}
.article-body > div > p {
    @apply my-6;
}
.article-body h1 {
    @apply text-4xl;
}
.article-body h2 {
    @apply text-3xl;
}
.article-body a {
    @apply text-purple-500 hover:text-purple-800;
}
.article-body blockquote {
    @apply border-l-4 px-4 my-4 w-11/12 mx-auto;
    @apply border-gray-400;
    @apply bg-gray-100 text-gray-600 py-2;
    @apply italic;
}
.article-body code {
    @apply bg-gray-200;
    @apply p-1 rounded;
}
.article-body ul, ol {
    @apply list-inside;
    @apply ml-2;
}
.article-body div > ul {
    @apply list-disc;
    @apply my-4;
}
.article-body div > ul > li > ul  {
    list-style-type: circle;
    @apply my-2 ml-4;
}
.article-body ul > li > ul {
    list-style-type: square;
    @apply my-2 ml-4 pl-2;
}
.article-body ol {
    @apply list-decimal;
}
.article-body pre {
    @apply bg-gray-600 rounded;
}

.creator-details-banner {
    @apply mt-8;
    @apply grid grid-cols-1 sm:grid-cols-3 gap-4;
    @apply bg-gray-200 p-6 rounded shadow z-10;
}
.creator-badge {
    @apply inline-block text-center;
}
.creator-image {
    @apply rounded-full h-40 w-40 md:h-80 md:w-80;
    @apply mb-8;
}
.employer-image {
    @apply h-16 w-40;
    @apply mt-4;
}
.employment-dates {
    @apply italic;
}
.creator-details-footer {
    @apply mt-4;
    @apply flex space-x-2;
}
