name: Cypress tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    name: Cypress tests Chrome
    steps:
      - uses: actions/checkout@v2
      - uses: cypress-io/github-action@v2
        env:
          SANITY_PROJECT: ${{ secrets.SANITY_PROJECT }}
          SANITY_DATASET: ${{ secrets.SANITY_DATASET }}
        with:
          working-directory: web/next
          wait-on: 'http://localhost:9000'
          build: yarn build
          start: yarn serve
          browser: chrome